:root {
  --O: #ec4242;
  --X: #363737;
  /* --X: #1f96ff; */
}

.App {
  background-color: #95addb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.row {
  display: flex;
  justify-content: center;
}

.sq {
  display: flex;
  background: #fff;
  height: 150px;
  width: 150px;
  padding: 5px;
  margin: 5px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 8px #0000003b;
  border-radius: 10px;
}

.sq:hover {
  transform: scale(99%);
  box-shadow: 0px 0px 5px #0000003b;
}
.sq > h3 {
  font-size: 6.3rem;
}

.X {
  color: var(--X);
}
.O {
  color: var(--O);
}
